$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$grey: #f4f4f4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #222767e4;
$red: #d73b3b;
$sem-alcool:#8585f5;
$alcool: #0b07e0;
$vinho:#77193e;
$vodka:rgb(96, 194, 227);
$wisk:#928602;
$rum:gold;