@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  box-sizing: border-box;
  font-family: "Courgette", cursive;
}
body {
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
